{
  "presets": [
    "react", ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "loose": true,
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
