.hide {
  display: none !important;
}

.notes-board {
  margin: .5em;
}
.add-note-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: whitesmoke;
  background: #2196f3;
  border-radius: 20px;
  font-size: 22px;
  cursor: pointer;
  border-color: #42a5f5;
}

.add-note-btn:hover {
  background: #42a5f5;
}

.settings-btn {
  background: #90a4ae;
  color: whitesmoke;
  border-radius: 3px;
  font-size: 10px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 5px;
  font-size: 15px;
  border-radius: 20px;
  border-color: #bdbdbd;
}
.settings-btn:hover {
  background: #90a4aed4;
}

.board-settings {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 9999999;
}

/* CSS Transition */
.note-enter {
  opacity: 0.01;
}
.note-enter.note-enter-active {
  opacity: 1;
  transition: opacity 650ms ease-in;
}

.note-leave {
  opacity: 1;
}
.note-leave.note-leave-active {
  opacity: 0.01;
  transition: opacity 750ms ease-out;
}

.note-appear {
  opacity: 0.01;
}
.note-appear.note-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
