.hide {
  display: none !important;
}

.notes-board {
  height: 5000px;
  background: #e8e6e6;
}

.plus-sign-emoji {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  cursor: pointer;
}

.settings-emoji {
  position: absolute;
  top: 8%;
  right: .4%;
  font-size: 18px;
}

.board-settings {
  position: absolute;
  top: 7%;
  right: .4%;
}

/* CSS Transition */
.note-enter {
  opacity: 0.01;
}
.note-enter.note-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.note-leave {
  opacity: 1;
}
.note-leave.note-leave-active {
  opacity: 0.01;
  transition: opacity 750ms ease-out;
}

.note-appear {
  opacity: 0.01;
}
.note-appear.note-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
