.not-wrapper {
  float: left;
  margin: 4px;
  width: 310px;
  height: 210px;
}
.note-box {
  float: left;
  margin: 4px;
  width: 310px;
  height: 210px;
  cursor: move;
  box-shadow:5px 10px 15px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}
.note-textarea {
  width: 100%;
  resize: none;
  height: 100%;
  padding: 3px 5px;
  border: none;
  overflow: scroll;
  white-space: pre-line;
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: #ffffff00;
  line-height: 1.5em;
  cursor: move;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
.waste-can-emoji {
  position: absolute;
  bottom: -5%;
  left: 0%;
  opacity: 0;
  cursor: pointer;
  font-size: 20px;
}
.remove-note-btn:hover {
  background: #e53935;
}
.note-createdat {
  color: #263238;
  font-size: 12px;
  top: 93%;
  position: absolute;
  right: 0%;
  opacity: 0;
  font-family: cursive;
}

.red-circle-emoji {
  position: absolute;
  top: -3%;
  right: 48%;
  font-size: 9px;
}

/* CSS events */
.note-box:hover > button {
  opacity: 1;
}
.note-box:hover > span  {
  opacity: 1;
}

.note-textarea:focus {
  outline: none !important;
}

