.not-wrapper {
  float: left;
  margin: 4px;
  width: 310px;
  height: 210px;
}
.note-box {
  float: left;
  margin: 4px;
  width: 310px;
  height: 210px;
  cursor: move;
  box-shadow:5px 10px 15px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}
.note-textarea {
  overflow: auto !important;
  width: 100%;
  resize: none;
  height: 100%;
  padding: 3px 5px;
  border: none;
  white-space: pre-line;
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: #ffffff00;
  line-height: 1.5em;
  cursor: move;
  font-family: inherit !important;
  color: inherit !important;
  font-size: inherit !important;
}
.waste-can-emoji {
  position: absolute;
  bottom: -5.5px;
  left: -2px;
  opacity: 0;
  cursor: pointer;
  font-size: 17px !important;
  font-family: serif !important;
  transform: rotate(3deg);
}
.remove-note-btn:hover {
  background: #e53935;
}
.note-createdat {
  color: #263238;
  font-size: 12px;
  bottom: -4px;
  position: absolute;
  right: 0;
  opacity: 0;
  font-family: cursive !important;
  font-size: x-small !important;
}

.red-circle-emoji {
  position: absolute;
  top: -6px;
  right: 148px;
  font-size: 9px !important;
}

/* CSS events */
.note-box:hover > button {
  opacity: 1;
}
.note-box:hover > span  {
  opacity: 1;
}

.note-textarea:focus {
  outline: none !important;
}

