.settings-panel {
  display: flex;
  flex-direction: column;
  padding: 10px 2px 20px 20px;
}
.daylight-mode-toggle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.daylight-mode-emojies {
  font-size: 18px;
  display: flex;
}

.settings-emoji {
  position: absolute;
  top: 28px;
  right: 5px;
  z-index: 1;
  font-size: 15px;
  cursor: pointer;
}

.board-settings {
  position: absolute;
  top: 38px;
  right: 5px;
  background: rgba(255, 255, 255, .3);
  border-radius: 25px;
  padding: 4px 8px 15px 10px;
}
